^%~
nvim/.config/nvim/undodir
cmus/.config/cmus/cache
cmus/.config/cmus/lib.pl
cmus/.config/cmus/search-history
cmus/.config/cmus/command-history
nvim/.config/nvim/plugin
neomutt/.config/neomutt/net.riseup.linux54/cache/
neomutt/.config/neomutt/Mail
neomutt/.config/neomutt/safe
offlineimap/.config/offlineimap
bash/.bash_history
